<div class="container-fluid">
  <div class="row default-margin-top">
    <div class="col-md-2 col-sm-12 content-container">
      <ul>
        <li>
          <h5>About Skillsgrow:</h5>
        </li>
        <li routerLink="/comingsoon">Our story</li>
        <li routerLink="/comingsoon">Our Team</li>
        <li routerLink="/comingsoon">Career</li>
        <li routerLink="/comingsoon">Donate</li>
        <li routerLink="/comingsoon">How skillsgrow Works</li>
        <li routerLink="/comingsoon">Refer a friend</li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-12 content-container">
      <ul>
        <li>
          <h5>Skillsgrow for business:</h5>
        </li>
        <li routerLink="/comingsoon">Services</li>
        <li routerLink="/comingsoon">Skillsgrow API</li>
        <li routerLink="/comingsoon">Pre-Paid certification</li>
        <li routerLink="/comingsoon">Bulk Purchasing</li>
        <li routerLink="/comingsoon">Publish on skillsgrow</li>
        <li routerLink="/comingsoon">Contact Enterprise team</li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-12 content-container">
      <ul>
        <li>
          <h5>Shop:</h5>
        </li>
        <li routerLink="/comingsoon">Certificates</li>
        <li routerLink="/comingsoon">T-Shirts</li>
        <li routerLink="/comingsoon">Payment Options</li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-12 content-container">
      <ul>
        <li>
          <h5>Need Help:</h5>
        </li>
        <li routerLink="/comingsoon">FAQ</li>
        <li routerLink="/comingsoon">Contact us</li>
        <li routerLink="/comingsoon">Popular Question</li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 content-container">
      <ul>
        <li>
          <h5>Skillsgrow Learning Centre:</h5>
        </li>
        <li>Bharath University Research Incubation Centre
            # 173 Agharam Road, Selaiyur,Chennai - 600 073
            </li>
        <li>
          <i class="fa fa-phone"></i>:+91 98844 04748</li>
        <li>
          <i class="fa fa-envelope"></i>: admin@skillsgrow.com</li>
        <li>
          <i class="fa fa-globe"></i>: www.skillsgrow.com</li>
      </ul>
      <div class="row">
        <div class="col-sm-12 content-container">
          <ul>
            <li>
              <h5>Connect:</h5>
            </li>
            <li>
              <div class="social-icons">
                <a class="social-container fb-icon" href="https://www.facebook.com/skillsgrow/" target="blank">
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="social-container li-icon" href="https://www.linkedin.com/company/skillsgrow/" target="blank">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a class="social-container youtube-icon" href="https://www.linkedin.com/company/skillsgrow/" target="blank">
                  <i class="fa fa-youtube"></i>
                </a>
                <a class="social-container google-plus-icon" href="https://www.linkedin.com/company/skillsgrow/" target="blank">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a class="social-container instagram-icon" href="https://www.linkedin.com/company/skillsgrow/" target="blank">
                  <i class="fa fa-instagram"></i>
                </a>
                <a class="social-container twitter-icon" href="https://www.linkedin.com/company/skillsgrow/" target="blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-5 col-sm-12 content-container">
      <ul>
        <li>
          <h5>Office Address:</h5>
        </li>
        <li>#10, Flat No: 3, Archana Apartments, Sarangapani street, T Nagar</li>
        <li>
          <i class="fa fa-phone"></i>: 9884404748</li>
        <li>
          <i class="fa fa-envelope"></i>: info@skillsgrow.com</li>
        <li>
          <i class="fa fa-globe"></i>: www.skillsgrow.com</li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-12 content-container">
      <ul>
        <li>
          <h5>Follow us on:</h5>
        </li>
        <li>
          <div class="social-icons">
            <a class="social-container fb-icon" href="https://www.facebook.com/skillsgrow/" target="blank">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="social-container li-icon" href="https://www.linkedin.com/company/skillsgrow/" target="blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </li>
      </ul>
    </div> -->
  </div>
</div>