<router-outlet></router-outlet>
<ng-http-loader [backgroundColor]="'#ff0000'" [spinner]="spinkit.skWave" [debounceDelay]="100" [minDuration]="300">
</ng-http-loader>
<!-- <div>Time Elapsed : {{seconds}}</div> -->
<!-- <div id="slider">
  <div class="row default-margin-top">
      <div class="col-8 offset-2">
        <h2>What Students talk about us</h2>
      </div>
  </div>
  <ul id="sliderwrap">
    <li class="row" *ngFor="let x of sampleCount">
        <div class="row default-margin-top">
            <div class="col-8 offset-2">
              <div class="row">
                <div class="col-12">
                  <div class="message-content text-justify">
                    {{x}} Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</div>
                </div>
              </div>
              <div class="row">
                <div class="col default-margin-top">
                  <div class="image-container-review">
                    <img [src]="'assets/image/dummyuser.png'" />
                    <div class="title">
                      <span class="name">User Name One</span>
                      <span class="course">Web Developer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </li>
  </ul>
  <span>
    <i class="fa fa-chevron-left" id="prev"></i>
  </span>
  <span>
    <i class="fa fa-chevron-right" id="next"></i>
  </span>
</div> -->

<!-- <div class="container-fluid">
    <div
    ng2-carouselamos
    [width]="900"
    [items]="items"
    [$item]="item"
    [$prev]="prevTemplate"
    [$next]="nextTemplate"
    (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"
  ></div>

  <ng-template #prevTemplate>
      <span><i class="fa fa-chevron-left arrow-left-right"></i></span>
    </ng-template>
     
    <ng-template #nextTemplate>
        <span><i class="fa fa-chevron-right arrow-left-right"></i></span>
    </ng-template>

    <ng-template let-item let-i="index" #item>
        <div style="min-width: 450px;">
            <div class="row default-margin-top">
                <div class="col-12">
                  <div class="row">
                    <div class="col">
                      <div class="message-content text-justify">
                        {{item}} Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col default-margin-top">
                      <div class="image-container-review">
                        <img [src]="'assets/image/dummyuser.png'" />
                        <div class="title">
                          <span class="name">User Name One</span>
                          <span class="course">Web Developer</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </ng-template>

</div> -->


<!-- <div id="slider">
  <div class="row default-margin-top">
      <div class="col-8 offset-2">
        <h2>What Students talk about us</h2>
      </div>
  </div>
  <ul id="sliderwrap">
    <li class="row" *ngFor="let x of sampleCount">
        <div class="row default-margin-top">
            <div class="col-8 offset-2">
              <div class="row">
                <div class="col">
                  <div class="message-content text-justify">
                    {{x}} Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</div>
                </div>
              </div>
              <div class="row">
                <div class="col default-margin-top">
                  <div class="image-container-review">
                    <img [src]="'assets/image/dummyuser.png'" />
                    <div class="title">
                      <span class="name">User Name One</span>
                      <span class="course">Web Developer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </li>
  </ul>
  <span>
    <i class="fa fa-chevron-left" id="prev"></i>
  </span>
  <span>
    <i class="fa fa-chevron-right" id="next"></i>
  </span>
</div> -->