<app-info-bar *ngIf="false"></app-info-bar>
<app-navigation></app-navigation>
<app-login-navigation *ngIf="false"></app-login-navigation>

<!-- banner section -->
<ngb-carousel>
  <ng-container *ngFor="let img of listBannerImagesData">
    <ng-container *ngIf="img.status != 1">
      <ng-template ngbSlide>
        <img [src]="imagePath + img.image" alt="Random first slide">
        <div class="banner-images-description">
          <h4 *ngIf="img.imageTitle">{{img.imageTitle}}</h4>
          <p *ngIf="img.description">{{img.description}}</p>
          <div *ngIf="img.link" class="image-link">
            <button>
              <a target="_blank" [href]="img.link">Click</a>
            </button>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</ngb-carousel>


<app-course-listing></app-course-listing>


<!-- discover section - for md screns -->

<div class="container d-none d-md-block">
  <div class="row default-margin-top">
    <div class="col">
      <h2>Discover more by</h2>
    </div>
  </div>
  <div class="row p-3">
    <div (click)="allCourses('allCourses')" class="col-md-4 all-course">
      <span>All Courses</span>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div (click)="allCourses('popularCourses')" class="col popular-course">
          <span>Popular Courses</span>
        </div>
        <div (click)="allCourses('freeCourses')" class="col free-course">
          <span>Free Courses</span>
        </div>
      </div>
      <div class="row">
        <div (click)="allCourses('latestCourses')" class="col latest-course">
          <span>Latest Courses</span>
        </div>
        <div (click)="allCourses('ratingCourses')" class="col rating-course">
          <span>Rating Courses</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- discover section - for xs screns -->

<div class="container d-md-none">
  <div class="row default-margin-top">
    <div class="col">
      <h4>Discover More by</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <select [(ngModel)]="discoverBy" id="discoverBy" class="form-control">
          <option value="allCourses">All Course</option>
          <option value="popularCourses">Popular Course</option>
          <option value="freeCourses">Free Course</option>
          <option value="latestCourses">Latest Course</option>
          <option value="ratingCourses">Rating Course</option>
        </select>
      </div>
    </div>
    <div class="col-12">
      <button (click)="allCourses()" type="button" class="btn btn-block btn-primary">
        View Cources
      </button>
    </div>
  </div>
</div>

<!-- Review Section -->
<div class="container">
  <div class="row default-margin-top">
    <div class="col-12 text-center">
      <h2>Testimonials</h2>
    </div>
  </div>
  <div class=""></div>
  <!--<div class="row">
    <div class="col">
      <div ng2-carouselamos
      [width]="mainWidth"
      [items]="whatOthersTalkSection"
      [$item]="item"
      [$prev]="prevTemplate"
      [$next]="nextTemplate"></div>
      <ng-template #prevTemplate>
        <span *ngIf="!smallDevice"><i class="fa fa-chevron-left arrow-left-right"></i></span>
        <span *ngIf="smallDevice"><i class="fa fa-chevron-left"></i></span>
      </ng-template>   
      <ng-template #nextTemplate>
          <span *ngIf="!smallDevice"><i style="margin-right: -100px;" 
            class="fa fa-chevron-right arrow-left-right"></i></span>
          <span *ngIf="smallDevice"><i class="fa fa-chevron-right"></i></span>
      </ng-template>
      <ng-template let-item let-i="index" #item>
        <div [ngStyle]="{'min-width': mediaWidth +'px'}">
          <div class="row default-margin-top" style="margin-left: 10px;">
              <div class="col-12">
                <div class="row">
                  <div class="col">
                    <div class="message-content text-justify">{{item.comment}}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col default-margin-top">
                    <div class="image-container-review">
                      <img [src]="'assets/image/dummyuser.png'" />
                      <div class="title">
                        <span class="name">{{item.name}}</span>
                        <span class="course">{{item.occupation}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </ng-template>
    </div>
  </div>-->
  <div class="row testimonials">
    <div class="col-12">
      <div class="testimonials-pic">
        <div class="left"><i class="fa fa-angle-left"></i></div>
        <div class="img"><img [src]="'assets/image/dummyuser.png'" /></div>
        <div class="right"><i class="fa fa-angle-right"></i></div>
      </div>
    </div>
    <div class="col-12 text-center">
      <h5 class="uname">USER NAME ~ OCCUPATION</h5>
      <p class="ucontent">Skillsgrow's self-paced module encouraged me to get more proactive with my learning. 
        I engaged with the material, took better notes, 
        and staggered the classes to fit in with my busy schedule at Mindtree.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>